.divisions {
    display: flex;
    /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* background-color: antiquewhite; */
  align-content:space-between;
  justify-content: space-evenly;
  /* align-items: center; */
  width: 100%;
  box-sizing: border-box;
}

.divisions h5{
    border: 5px solid rgb(221, 91, 31);
    border-radius: 15px;
}

.normal{
    background-color: antiquewhite;
    padding: 10px;
    padding-bottom: 0;
}

.formsAll{
    background-color: antiquewhite;
    /* padding: 20px; */
    margin: 5%;
    position: obsolute;
    /* position: inherit;
    align-items: center;
    align-content: center; */
    height: 80%;
    width: 80%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.hello{
    background-color: aqua;
    padding: 10px;

}

.divisions :hover{
    border: 5px solid blueviolet;
    border-radius: 15px;
}
/* .divisions,h5 :after{
    border: 1px solid antiquewhite;
} */